* {{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: bold;
}}

* {{
    color: {background};
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 0px;
}}

#bar {{
    background: {color0};
    margin: 0px 0px;
}}
#bar.sel {{
    background: {color0};
}}

#tags {{
    padding: 0px 0px;
    margin: 0px 0px;

}}

#tags.active {{
    background-color: {foreground} ;
    color: {background};
}}
#tags.occupied {{
background-color: {background} ;
color: {foreground};
}}
#tags.urgent {{
background-color: {background} ;
color: {foreground};
}}
#tags.empty {{
background-color: {background} ;
color: {foreground};
}}

/* Overview mode */
#overview {{
    background-color: {color0};
    color: {foreground};
}}

/* Window title */
#title {{
    background-color: {color0};
    color: {foreground};
}}

/* Right-side system modules */
#clock {{
    background-color: {color0};
    color: {foreground};
}}
/* Date module (clock#date), separate from time */
#clock.date {{
    background-color: {color0};
    color: {foreground};
}}
#volume {{
    background-color: {color0};
    color: {foreground};
}}

#tray {{
    background-color:{color0};
    padding: 0px 0px;
}}

menu {{
    background-color: {background};
    border-color: {foreground};
    border-radius: 0px;
    font-size: 12px;
}}
menuitem {{
    color: {foreground};
}}
menuitem:hover {{
    color: {background};
    background-color: {foreground};
}}
