@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

:root {{
  --colors: on;
  --text-0: {background};
  --text-1: {foreground};
  --text-2: {foreground};
  --text-3: {foreground};
  --text-4: {color8};
  --text-5: {color8};
  --bg-1: {color0};
  --bg-2: {color0};
  --bg-3: {color0};
  --bg-4: {color0};
  --hover: rgba(226, 226, 226, 0.08);
  --active: rgba(226, 226, 226, 0.1);
  --active-2: rgba(226, 226, 226, 0.2);
  --message-hover: rgba(226, 226, 226, 0.08);
  --accent-1: {color4};
  --accent-2: {color4};
  --accent-3: {color4};
  --accent-4: {color4};
  --accent-5: {color4};
  --accent-new: {color1};
  --mention: linear-gradient(to right, color-mix(in hsl, {color4}, transparent 90%) 40%, transparent);
  --mention-hover: linear-gradient(to right, color-mix(in hsl, {color4}, transparent 95%) 40%, transparent);
  --reply: linear-gradient(to right, color-mix(in hsl, {foreground}, transparent 90%) 40%, transparent);
  --reply-hover: linear-gradient(to right, color-mix(in hsl, {foreground}, transparent 95%) 40%, transparent);
  --online: {color2};
  --dnd: {color1};
  --idle: {color3};
  --streaming: {color5};
  --offline: {color8};
  --border-light: rgba(145, 145, 145, 0);
  --border: rgba(145, 145, 145, 0.2);
  --button-border: rgba(145, 145, 145, 0);
  --red-1: {color1};
  --red-2: {color1};
  --red-3: {color1};
  --red-4: {color1};
  --red-5: {color1};
  --green-1: {color2};
  --green-2: {color2};
  --green-3: {color2};
  --green-4: {color2};
  --green-5: {color2};
  --blue-1: {color4};
  --blue-2: {color4};
  --blue-3: {color4};
  --blue-4: {color4};
  --blue-5: {color4};
  --yellow-1: {color3};
  --yellow-2: {color3};
  --yellow-3: {color3};
  --yellow-4: {color3};
  --yellow-5: {color3};
  --purple-1: {color5};
  --purple-2: {color5};
  --purple-3: {color5};
  --purple-4: {color5};
  --purple-5: {color5};
}}
